body{
    text-align: center;
    color: aliceblue;
    background-size:cover;
}
a{
background-color: #54cf83;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
 }
  